<table class="table table-hover">
    <thead class="table-dark">
        <tr>            
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Points</th>
            <th>Qualified (points >= 300)</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempPlayerStats of playerStatsList">
            <td>{{ tempPlayerStats.firstName }}</td>
            <td>{{ tempPlayerStats.lastName }}</td>
            <td>{{ tempPlayerStats.userName }}</td>
            <td>{{ tempPlayerStats.points }}</td>
            <td>
                <div *ngIf="tempPlayerStats.points >= 300; else playerPointBlock">Yes</div>
                <ng-template #playerPointBlock>No</ng-template>
            </td>
        </tr>
    </tbody>
</table>